In [1]:
import pandas as pd
csv = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

fuel_ferc1 = pd.read_csv(csv)

In [2]:
fuel_ferc1.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

### Question1

Creating a list

In [3]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [4]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2

Creating an Identity matrix

In [5]:
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3

Getting the fuel type with the lowest Quantity burned

In [6]:
fuel_ferc1.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4

Calucalting the standard deviation and 75th percentile for Fuel_mmbtu_per_unit

In [7]:
fuel_ferc1[['fuel_mmbtu_per_unit']].std()

fuel_mmbtu_per_unit    10.60022
dtype: float64

In [8]:
np.percentile(fuel_ferc1['fuel_mmbtu_per_unit'], 75)

17.006

### Question 5

Calulating skewness and kurtosis for fuel quantity.

importing both Kurtosis and skew from scipy library

In [9]:
from scipy.stats import kurtosis
from scipy.stats import skew

In [10]:
skew(fuel_ferc1['fuel_qty_burned'])

15.850690077422112

In [11]:
kurtosis(fuel_ferc1['fuel_qty_burned'])

651.2589365474387

### Question 6

Missing Values

In [12]:
fuel_ferc1.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
len(fuel_ferc1)

29523

In [14]:
(180/29523) *100

0.609694136774718

### Question 8

Correlation with fuel Cost per Unit burned

In [15]:
fuel_ferc1.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

### Question 9
Percentage change in fuel cost per unit burned in 1998 compared to 1994

In [16]:
fuel_ferc1.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

Question 10

Year with the highest average fuel cost per unit delivered is 1997

In [17]:
fuel_ferc1.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64